.header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgb(211, 230, 219);
}

.header.active {
    display: block;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    text-align: center;
}

.header__content--title {
    margin-bottom: 10px;

    font: 700 50px/1.25 var(--ffamily);
}

.header__content--title span {
    margin-bottom: 10px;

    color: var(--green-color);
    font: 700 50px/1.25 var(--ffamily);
}

.header__content--decription {
    margin-bottom: 30px;

    font: 500 30px/1.25 var(--ffamily);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-nav {
    display: none;
}

.nav__list {
    display: flex;
}

.nav__list--item {
    margin-right: 20px;
}

.nav__list--item:last-child {
    margin-right: 0;
}

.nav__list--link {
    border-bottom: var(--border);
    border-bottom-color: transparent;

    font: 500 20px/1.25 var(--ffamily);
    transition: var(--hover-transition);
}

.nav__list--link:hover,
.nav__list--link:focus,
.nav__list--link.active {
    opacity: 0.7;
}

.loader-box {
    display: none;
    width: 100%;
}

.loader-box.active {
    display: block;
}

.loader-container {
    width: 150px;
    margin: 0 auto;

    display: flex;
}

.loader-bubble {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    border-radius: 50%;

    background-color: var(--blue-color);
}

.loader-bubble:last-child {
    margin-right: 0;
}

.loader-bubble-1 {
    animation: loader 0.4s ease 0s infinite alternate;
}
.loader-bubble-2 {
    animation: loader 0.4s ease 0.2s infinite alternate;
}
.loader-bubble-3 {
    animation: loader 0.4s ease 0.4s infinite alternate;
}

@keyframes loader {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0.25;
        transform: scale(0.75);
    }
}

.create {
    display: none;
}

.create.active {
    display: block;
}

.create__title {
    margin-bottom: 40px;
}

.create__form--item {
    display: flex;
    flex-direction: column;

    margin-bottom: 30px;
}

._textarea-label {
    margin-bottom: 3px;
}

.create__form--field {
    padding: 5px;
    border: none;
    border-bottom: var(--border);
}

._textarea-field {
    border-top: none;
    border: var(--border);
    padding: 5px;

    resize: none;
}

.create__form--error {
    margin-top: 5px;

    color: red;
    font: 300 17px/1.25 var(--ffamily);
}

.create__form--item.error .create__form--field {
    border-bottom-color: red;
}

.create__form--item.error .create__form--label {
    color: red;
}

.create__form--item.error ._textarea-field {
    border-color: red;
}

.notes {
    display: none;
}

.notes.active {
    display: block;
}

.notes__title {
    margin-bottom: 40px;
}

.notes__item {
    padding: 25px 35px;
    margin: 50px 0;

    background: rgb(246, 246, 246);
}

.notes__item--title {
    margin-bottom: 10px;

    font: 500 25px/1.25 var(--ffamily);
}

.notes__item--text {
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.notes__item--date {
    margin-bottom: 20px;

    opacity: 0.8;
    font: 200 15px/1.25 var(--ffamily);
}

.notes__control {
    display: flex;
    flex-wrap: wrap;
}

.notes__control--button {
    margin-right: 20px;
}

.favorites {
    display: none;
}

.favorites.active {
    display: block;
}

.favorites__title {
    margin-bottom: 20px;
}

.favorites__list--item {
    margin: 0 0 5px 5px;
}

.favorites__list--item:last-child {
    margin-bottom: 0;
}

.favorites__list--link {
    position: relative;

    transition: var(--hover-transition);
}

.favorites__list--link:hover {
    opacity: 0.7;
}



@media (max-width: 999px) {
    .header__content--title,
    .header__content--title span {
        font: 700 45px/1.25 var(--ffamily);
    }

    .header__content--decription {
        font: 500 28px/1.25 var(--ffamily);
    }

    .create__title {
        margin-bottom: 35px;
    }

    .create__form--item {
        margin-bottom: 25px;
    }

    .notes__title {
        margin-bottom: 35px;
    }

    .notes__title {
        margin-bottom: 40px;
    }

    .notes__item {
        padding: 20px 30px;
        margin: 40px 0;
    }

    .notes__item--title {
        margin-bottom: 8px;
        font: 500 23px/1.25 var(--ffamily);
    }

    .notes__item--text {
        margin-bottom: 8px;
    }

    .notes__item--date {
        margin-bottom: 18px;
    }
}

@media (max-width: 888px) {
    .header__content--title,
    .header__content--title span {
        font: 700 40px/1.25 var(--ffamily);
    }

    .header__content--decription {
        font: 500 25px/1.25 var(--ffamily);
    }

    .create__title,
    .notes__title {
        margin-bottom: 30px;
    }
}

@media (max-width: 777px) {
    .header__content--title,
    .header__content--title span {
        margin-bottom: 8px;

        font: 700 35px/1.25 var(--ffamily);
    }

    .header__content--decription {
        margin-bottom: 20px;

        font: 500 23px/1.25 var(--ffamily);
    }

    .create__title,
    .notes__title {
        margin-bottom: 25px;
    }

    .create__form--item {
        margin-bottom: 20px;
    }

    .create__form--error {
        font: 300 15px/1.25 var(--ffamily);
    }
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .mobile-nav__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 20px;
        height: 15px;

        transition: var(--hover-transition);
    }

    .burger.active {
        transform: rotate(90deg);
    }

    .burger__item {
        display: inline-block;

        width: 100%;
        height: 2px;

        background: var(--blue-color);
    }
}

@media (max-width: 666px) {
    .header__content--title,
    .header__content--title span {
        margin-bottom: 5px;

        font: 700 30px/1.25 var(--ffamily);
    }

    .header__content--decription {
        margin-bottom: 15px;

        font: 500 20px/1.25 var(--ffamily);
    }

    .notes__item {
        padding: 10px 20px;
        margin: 30px 0;
    }

    .notes__control {
        flex-direction: column;
    }

    .notes__control--button {
        margin-bottom: 10px;
    }

    .notes__control--button:last-child {
        margin-bottom: 0;
    }
}
